* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  border-radius: 1em;
  margin: 1em;
  background-color: #d7deff;
  width: 95%;
}
.link {
  text-decoration: none;
  color: #2c2727;
  width: 8em;
}

div ul li {
  text-decoration: none;
}
img {
  width: 10em;
  border-radius: 50%;
  display: inline-block;
}

.p {
  padding-left: 10em;
  padding-right: 10em;
  text-align: center;
}

body {
  margin: 0 auto;
  color: #2c2727;
}

.signOutButton {
  border-radius: 1em;
  background-color: #d7deff;
  padding: 0.5em;
  border: white;
  transition: all 0.5s;
  cursor: pointer;
}

.signOutButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signOutButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signOutButton:hover span {
  padding-right: 1em;
}

.signOutButton:hover span:after {
  opacity: 1;
  right: 0;
}
